/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 28px;
  height: 28px;
  right: 28px;
  top: 10px;
}
.bm-burger-button:focus {
    outline: none;
    border: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #0B4C5F;
}
/*#373a47*/
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #E9FA03;

}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 8px;
  width: 8px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0px;
}

/* General sidebar styles */
.bm-menu {
  background: #1a1a1a;
  padding: 2.5em 1.5em 0 10.5em;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 2em 0.8em 0.8em 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #b8b7ad;
  text-decoration: none;
  padding-bottom: 1em;
  font-size: 1.2em;
  font-weight: bolder;
}
  .icon {
      color: #E9FA03;
      opacity: 100%;
      padding-right: 8px;
  }
  .fa-user {
    padding-left: 2px;
  }
  .fa-file-alt {
      padding-left: 5px;
  }

.bm-item:focus {
    outline: none;
    color: #0B4C5F;
}
.bm-item:hover {
    color:  #0B4C5F;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

	@media (min-width: 360px) {
    .bm-menu-wrap {
          width: 100px !important;
    }
    .bm-menu {
        padding: 2.5em 1.5em 0 1em;
    }
  }
	@media (min-width: 411px) {
    .bm-menu {
          opacity: 95%;
    }
  }
  	@media (min-width: 768px) {
    .bm-menu {
          opacity: 90%;
    }
        .bm-menu-wrap {
          width: 150px !important;
    }
  }
  @media (min-width: 1024px) {
  .bm-burger-button {
    top: 20px;
  }
  }